input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:82px;
    height:130px;
    margin:1px 4px 0 0;
    vertical-align:middle;
    background:url(switches.svg) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(switches.svg) -90px top no-repeat;
}

#test {
  text-align: center;
  width: 82px;
  height: 130px;
  border:2px solid lightgray;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}

#test:hover {
  border-color: black;
}

body {
  text-align: center;
  margin-top: 30px;
}
